		/* CSS Document */
		body {
				max-width:75%;
				margin:0 auto;
				height:auto;
				
				
		}
		.bg{
				background:url(../image/bg.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-attachment: fixed;
				position: relative;
				margin: 0px;
			}
		header {
				width:100%;
				height:180px;
		}
		
		nav { 
				width:100%;
				height:30px;
				background-color:#F90;
		}
		nav a {
				color:#FFF;
				font-weight:bold;
				font-size:18px;
				text-decoration:none;
				width:18%;
				height:30px;
				text-align:center;
				float:left;
				line-height:30px;
		}
		nav a:hover {
				color:#F36;
				background-color:#FFC;
		}

		article { 
				width:69.7%;
				max-height:398px;
				float:left;
		}
		article #content {
				background:#669966;
				width:100%;
				float:left;
		}
		article #content div { 
				background:#FFFFFF;
				float:left;
				width:29%;
		}
		article #content div p {
				color:#00F;
				text-align:center;
				margin:0px;
				font-size:80%;	
		}		
		article #content div p del {
				color:#666;
		}
		
		aside { 
				width:30.3%;
				height:398px;	
				background-color:#366;					
				color:#FFF;
				float:right;
				overflow:auto;
		}
		
		aside div { 		
				margin-bottom:0px;
		}
		
		aside div h4 { 
				width:100%;
				color:#FFF;
				background-color:#060;
				height:28px;
				margin:0px;
				text-align:center;
				line-height:28px;
				position: -webkit-sticky;
  				position: sticky;
  				top: 0;
		}
		
		aside div table { 
				width:100%;
		}
		
		aside div table tr { 
				width:100%;
		}
		
		aside div table .td1 { 
				width:35%;
		}
		
		aside div table .td2 { 
				text-align: justify;
				font-size:80%;
				width:65%;
		}
		
		footer {
				clear:both;	
				width:100%;
				height:auto;
				background-color:#366;
				color:#FFF;
		}
		
		footer .footer_left {
				width:50%;
				height:auto;
				float:left;
		}
		
		footer .footer_right {
				width:25%;
				height:auto;
				float:right;
				margin-top:30px;
				margin-right:25px;
		}
		
		ul {
				list-style-type:square;
				padding-top:15px;
		}
		
		ul li {
				font-size:18px;
		}
		
		footer p {
				text-align:center;
				font-style:italic;
				padding-top:8px;
				padding-bottom:20px;
				clear:both;
		}





/* CSS Document */

