/* CSS Document */
/* Chuan hinh anh */
		
		@media screen and (max-width: 1920px) {
			aside{
				width:30%;
				height:600px;	
				float:right;	
			}
			article {
				width:69.9%;
				height:600px;
				float:left;
			}

			
			
		}
		
		@media screen and (max-width: 868px) {
			aside { height:398px}
			article { width:100%; float:none;}
			footer{ width:100%; overflow:scroll}
			footer .xxx{border-bottom: none; border-top: solid #C8C3C3 2px; width: 100%; margin-top: 10px;}
			.nav .subMenu a{font-size: 50%;}
			article #content div .namePro{font-size: 80% !important;}
			article #content div p {font-size:80% !important;}
		}
		
		@media screen and (max-width: 768px) {
			body { width:100%;}
			article { width:100%; float:none;}
			aside { width:100%; float:none;}
			.middle {width:50%; float:none;}
			footer{ width:100%; overflow:scroll}
			footer .xxx{border-bottom: none; border-top: solid #C8C3C3 2px; width: 100%; margin-top: 10px;}
			.nav .subMenu a{font-size: 50%;}
			article #content div .namePro{font-size: 80% !important;}
			article #content div p {font-size:80% !important;}
		}







/* CSS Document */

